.onboarding {
    background-color: #170941;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .onboarding .div {
    background-color: #170941;
    overflow: hidden;
    width: 375px;
    height: 812px;
    position: relative;
  }
  
  .onboarding .overlap-group {
    position: absolute;
    width: 375px;
    height: 460px;
    top: 0;
    left: 0;
    background-image: url(./img/background.png);
    background-size: 100% 100%;
  }
  
  .onboarding .component {
    position: relative;
    width: 354px;
    height: 40px;
    top: 7px;
    left: 11px;
  }
  
  .onboarding .vector {
    position: absolute;
    width: 19px;
    height: 13px;
    top: 2px;
    left: 305px;
  }
  
  .onboarding .img {
    position: absolute;
    width: 19px;
    height: 10px;
    top: 3px;
    left: 335px;
  }
  
  .onboarding .vector-2 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 0;
    left: 275px;
  }
  
  .onboarding .rectangle {
    position: absolute;
    width: 157px;
    height: 26px;
    top: 15px;
    left: 106px;
  }
  
  .onboarding .text-wrapper {
    position: absolute;
    width: 39px;
    top: -1px;
    left: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .onboarding .small-button {
    display: flex;
    width: 185px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 20px 13px 28px;
    position: absolute;
    top: 640px;
    left: 95px;
    background-color: #1c1c1e;
    border-radius: 48px;
  }
  
  .onboarding .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .onboarding .sign-up {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--subtitle-semibold-font-family);
    font-weight: var(--subtitle-semibold-font-weight);
    color: #0066c5;
    font-size: var(--subtitle-semibold-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-semibold-letter-spacing);
    line-height: var(--subtitle-semibold-line-height);
    font-style: var(--subtitle-semibold-font-style);
  }
  
  .onboarding .chevron-right {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .onboarding .GO-THE-EXTRA-MILE {
    position: absolute;
    width: 437px;
    height: 61px;
    top: 519px;
    left: -27px;
    font-family: "Allerta-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.32px;
    line-height: 32px;
  }
  
  .onboarding .span {
    color: #ffffff;
  }
  
  .onboarding .text-wrapper-2 {
    color: #5dc9f6;
    font-size: 32px;
    letter-spacing: 1.76px;
  }
  
  .onboarding .indicator {
    position: absolute;
    width: 88px;
    height: 4px;
    top: 746px;
    left: 144px;
  }
  
  .onboarding .rectangle-2 {
    position: absolute;
    width: 36px;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #94a8ba;
  }
  
  .onboarding .rectangle-3 {
    position: absolute;
    width: 16px;
    height: 4px;
    top: 0;
    left: 46px;
    background-color: #94a8ba;
  }
  
  .onboarding .rectangle-4 {
    position: absolute;
    width: 16px;
    height: 4px;
    top: 0;
    left: 72px;
    background-color: #0066c5;
  }
  
  .onboarding .text-wrapper-3 {
    position: absolute;
    width: 164px;
    height: 20px;
    top: 691px;
    left: 108px;
    font-family: "Allerta-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.55px;
    line-height: 32px;
    white-space: nowrap;
  }
  