:root {
    --dark-3: rgba(58, 58, 60, 1);
    --soft: rgba(255, 255, 255, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-light: rgba(172, 164, 175, 1);
    --primary: rgba(208, 253, 62, 1);
    --subtitle-semibold-font-family: "OpenSans-SemiBold", Helvetica;
    --subtitle-semibold-font-weight: 600;
    --subtitle-semibold-font-size: 17px;
    --subtitle-semibold-letter-spacing: 0px;
    --subtitle-semibold-line-height: normal;
    --subtitle-semibold-font-style: normal;
    --footnote-medium-font-family: "OpenSans-SemiBold", Helvetica;
    --footnote-medium-font-weight: 600;
    --footnote-medium-font-size: 13px;
    --footnote-medium-letter-spacing: 0px;
    --footnote-medium-line-height: 16px;
    --footnote-medium-font-style: normal;
    --subtitle-regular-font-family: "OpenSans-Regular", Helvetica;
    --subtitle-regular-font-weight: 400;
    --subtitle-regular-font-size: 17px;
    --subtitle-regular-letter-spacing: 0px;
    --subtitle-regular-line-height: normal;
    --subtitle-regular-font-style: normal;
  }
  